<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.hy.dao.system.Role_menuDao">
	<resultMap type="Role_menu" id="role_menumap">
		<id column="id" property="id" />
		<result column="role_id" property="role_id" />
		<result column="menu_id" property="menu_id" />
		<result column="create_user" property="create_user" />
		<result column="create_date" property="create_date" />
		<result column="read_p" property="read_p" />
		<result column="write_p" property="write_p" />
		<result column="state" property="state" />
		
	</resultMap>

	<!-- 查询所有 -->
	<select id="selectRole_menu" resultMap="role_menumap">
		SELECT srm.id,srm.role_id,srm.menu_id,srm.create_user,srm.create_date,srm.read_p,srm.write_p,sm.menu_name,sm.state
		from system_role_menu srm
		LEFT JOIN system_menu sm on sm.id=srm.menu_id
		where srm.role_id=#{role_id}
	</select>
	<!-- 新增之后-->
	<insert id="insertRole_menu" parameterType="Role_menu">
		insert into system_role_menu (role_id,menu_id,create_user,create_date,read_p,write_p)
		values(#{role_id},#{menu_id},#{create_user},NOW(),#{read_p},#{write_p})
	</insert>
	<!-- 修改之后(修改role_menu表)-->
	<update id="updateRole_menu" parameterType="Role_menu">
		update system_role_menu set read_p=#{read_p} ,write_p=#{write_p} where role_id=#{role_id} and menu_id=#{menu_id}
	</update>
	<!-- 删除role_menu表 -->
	<delete id="deleteRole_menu"  parameterType="Role_menu">
		DELETE from system_role_menu where role_id=#{role_id}
	</delete>
	<select id="findByUserId" resultMap="role_menumap">
		select srm.id,srm.role_id,srm.read_p,srm.write_p,srm.menu_id from system_role_menu srm 
		left JOIN system_user_role sur on sur.role_id=srm.role_id
		LEFT JOIN system_user su on su.id=sur.user_id
		where srm.menu_id=1 and su.employeeid=#{employeeId}
	</select> 
</mapper>